<h1>bitcoin_hiragana</h1>
<%=
  form_for :bitcoin, '/view' do
    div class: 'input' do
      label      :hexTx
      text_area  :hexTx
    end

    div class: 'controls' do
      submit 'Encode to Hiragana'
    end
  end
%>
<h2>Hiragana Transaction</h2>
<%= hiragana %>