<div class="container">
  <div class="row">
    <div class="columns">
      <%=
        form_for :bitcoin, '/bitcoin/toHiragana' do
          div class: 'input' do
            label      :hexTx
            text_area  :hexTx, hexTx, class: 'u-full-width', style: "height: 140px", disabled: "true"
          end
        end
      %>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <%=
        form_for :bitcoin, '/bitcoin/toHiragana' do
          div class: 'input' do
            label      :hiraganaTx
            text_area  :hiraganaTx, hiraganaTx, class: 'u-full-width', style: "height: 140px", disabled: "true"
          end
        end
      %>
    </div>
  </div>
</div>